<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <p>
      Holi is known as the festival of colours and to some, the festival of
      love. The festival originates from the Hindu regions of Nepal and India
      but has become a global celebration with the festival a regular date in
      the UK calendar. The date coincides with the arrival of spring and the end
      of winter.
    </p>
    <br />
    <p>
      Millions of people will get together and have a playful multi-coloured
      celebration of colours. The festival begins by communities coming together
      and bringing materials for a bonfire the evening before the day of holi.
      The next day is when the celebrations truly begin!
    </p>
    <img
      src="https://cdn.stunningnepal.com/wp-content/uploads/2019/12/Holi-Festival-in-Nepal.jpg"
      alt=""
      srcset=""
    />
    <p>
      People will gather in one big group on the streets, parks and fields and
      share the experience of a rainbow of colours - by the end everyone
      involved will be covered in a spectrum of coloured powder. Groups of
      people will sing and dance, while playing the dhol drums in some regions -
      this year the kids had a water fight with balloons and water guns
      afterwards! It is a really fun time!
    </p>
    <br />
    <p>
      The festival celebrates many different cultural rituals and legends,
      including the legend of Prahlad. Prahlad was a young follower of Vishnu
      who despite being carried into fire by the demoness Holika managed a
      miraculous escape - good triumphed over evil - one of the common themes
      repeated in the rituals related to holi. In fact, there are many legends
      that are directly linked to Holi, and the reasons for celebration have
      evolved over time. It is thought that the festival may have existed
      several centuries before Christ, and although it started out bearing
      Holika's name, it is now often simply known as 'The Festival of Colours'.
      For some it is the festival of love - remembering Lord Krishna's and
      Radha's love.*
    </p>

    <center><h3>Blog by Bibek Gautam.</h3></center>
  </body>
</html>
